.movie{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    background-color: black;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box ;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;

}
:root{
    color: white;
}
.movie .poster{
    width: 100%;
    height:  250px;
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.movie-details .box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid lightgray;

}
.movie-details .title{
    width: 160px;
    text-align: center;
    color: white;
}
.movie-details .overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: lightgray;
    opacity: 0.9;
    color: black;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(101%);

}
.movie-details:hover .overview{
    transform: translateY(0%);

}
.rating{
    background-color: aquamarine;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid grey;
    right: 5px;
    bottom: 5px;


}
.Favourites{
    width: 4rem;
    position: absolute;
    color: white;
    left: 0.5rem;
    z-index: 1;
    margin-top: 0.5rem;
}

path:hover{
    fill: white;
}
path::after{
    fill: white;

}
.movie:hover{
   
          box-shadow: 0 0 10px 10px #aef4af;
        
    
}




